body {
    background-color: #eee;
}
.erpApp {
    margin-top: 70px;
}
.erpApp label.error {
    color: #cc0000;
}
.erpApp input.error[type=text], .erpApp input.error[type=password], .erpApp textarea.error {
    border-color: #cc0000;
}
.erpApp .table th {
    background-color: #C5C8C9;
    border-bottom: 2px solid #DEE1E3;
}
.erpApp .table th, .erpApp .table td {
    border-top: 1px solid #DEE1E3;
}
.erpApp .table-items {
    margin-top: 15px;
    font-size: 90%;
}
.erpApp .table-items th {
    background-color: transparent;
}

.erp-form {
    max-width: 600px;
    padding: 15px;
    margin: 70px auto 0;
}
.erp-form-lg {
    max-width: 850px;
}
.erp-form-xl {
    max-width: 1100px;
}
.erp-form-sm {
    max-width: 450px;
}
.erp-form-xs {
    max-width: 300px;
}

.erp-form-inline .checkbox label{
    margin-top: 2.4rem;
}
.erp-form-inline .checkbox input {
    margin-right: 0.5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 70px auto 0;
}
.form-login .loginForm-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}
.form-login .checkbox {
    font-weight: normal;
}
.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-login .form-control:focus {
    z-index: 2;
}
.form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.err-page {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    background-color: #fff;
    color: #373a3c;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.err-page .container {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.err-page .jumbotron {
    border-bottom: 0 none;
    padding: 1rem 2rem 4rem 2rem;
    background-color: #eceeef;
    border-radius: 0.3rem;
    margin-bottom: 2rem;
}

.hiddenElements {
    display: none;
}

#logout-popover {
    cursor:default;
}
.erpApp .m-l-05 {
    margin-left: 0.5rem;
}
.erpApp .m-r-05 {
    margin-right: 0.5rem;
}
.erpApp .m-t-05 {
    margin-top: 0.5rem;
}
.erpApp .m-b-05 {
    margin-bottom: 0.5rem;
}