<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Error {{ error.code }}</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="err-page">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">{{ error.code }}: {{ error.title }}</h1>
            {% if error.status %}
            <p>HTTP status Code: <b>{{ error.status }}</b></p>
            {% endif %}
            <p class="lead">{{ error.description }}</p>
        </div>
    </div>
</body>
</html>