<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERP reset password</title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="form-login">
<div class="container">
    <form action="/reset/{{ user.resetHash }}" method="post">
        <h3 class="loginForm-heading">Reset password for account: {{ user.email }}</h3>

        <label html="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="pwd" class="form-control" placeholder="Password" required />

        <label for="inputPasswordConfirm">Confirm Password</label>
        <input type="password" id="inputPasswordConfirm" name="pwdConfirm" class="form-control" placeholder="Confirm password" required />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
    </form>
</div>
</body>
</html>